{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block main_content %}

<div class="row">
    <div class="small-12 columns">
        <h1>Contact</h1>
        <div class="row">
            <div class="small-4 columns">
                <ul class="vcard">
                    <!-- <li class="text-center"><img src="{% static 'myimgs/Anna_photo.jpg' %}" /></li> -->
                    <li class="fn">Anna Panchenko</li>
                    <li>Group Leader</li>
                    <li>Computational Biophysics Group</li>
                    <li><span class="info">NIH, NLM, CBB</span></li>
                    <li><span class="info">8600 Rockville Pike, Bldg 38A </span></li>
                    <li><span class="info">Bethesda, MD, 20894</span></li>
                    <li class="email"><a href="#">email here</a></li>
                </ul>
            </div>
            <div class="small-4 columns end">
                <ul class="vcard">
                    <!-- <li class="text-center"><img style="height:189px" src="{% static 'myimgs/Minghui.png' %}" /></li> -->
                    <li class="fn">Minghui Li</li>
                    <li>Post-doc</li>
                    <li>Computational Biophysics Group</li>
                    <li><span class="info">NIH, NLM, CBB</span></li>
                    <li><span class="info">8600 Rockville Pike, Bldg 38A </span></li>
                    <li><span class="info">Bethesda, MD, 20894</span></li>
                    <li class="email"><a href="#">email here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}