{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block main_content %}

<div class="row">
    <div class="small-12 columns">
        <p><strong>SunDDG</strong> evaluates the change in binding affinity between proteins
        (or protein chains) caused by single-site mutations in their sequence. The predictions
        are based on the crystal structure of the protein-protein complex. SunDDG gives the
        possibility to perform either manually specified mutations, or a systematic scan of
        all possible mutations in a protein chain. </p>
    </div>
</div>

{% endblock %}