{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block main_content %}

<div class="row">
    <div class="small-12 columns">
        <h1>Contact</h1>
        <div class="row">
            <div class="small-12 columns">
                <p>Please, feel free to contact us regarding questions about the server, issues or suggestions. </p>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns end">
                <ul class="vcard">
                    <li class="fn">Minghui Li</li>
                    <li>Research Fellow</li>
                    <li>Computational Biophysics Group</li>
                    <li><span class="info">NIH, NLM, NCBI</span></li>
                    <li class="email"><a href="mailto:minghui.li@nih.gov">minghui.li@nih.gov</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}