{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block main_content %}

<style>
.supindex 
{vertical-align:super} 
.subindex 
{vertical-align:sub}
</style>

<div class="row">
    <div class="small-12 columns">
        <p><strong>SunDDG</strong> evaluates the change in binding affinity between proteins
        (or protein chains) caused by single-site mutations in their sequence. The predictions
        are based on the crystal structure of the protein-protein complex. SunDDG gives the
        possibility to perform either manually specified mutations, or a systematic scan of
        all possible mutations in a protein chain. </p>
    </div>
</div>

<h2> How to use MutaBind Server? </h2>

<h3 class="subheader">Step 1 - Provide the structure of a protein-protein complex</h3>

<p> You can either input the PDB code, the structure will be retrieved from the Protein Data Bank, or upload your own structure file, which must comply with the PDB format. </p>
<p> In either case, the structure file should contain at least two distinct protein chains. Please note that:</p>
<ul style="margin-left: 3rem">
	<li>Bioassembly (biological unit) is the default structure, default bioassembly (.pdb1) will be used for a protein complex with the multiple bioassemblies.</li>
	<li>If the structure file includes multiple NMR models, only the first one will be used in calculations.</li>
	<li>If the uploaded structure file includes multiple protein complexes, only the first one will be considered.</li>
	<li>If a protein complex is classified as protease-inhibitor, a special model optimized for the protease-inhibitor complexes can be specified in the option at the bottom of the entry page. </li>
	<li>The maximum allowed number of atoms in structure is 360720, number of residues should not exceed 120240 and the maximum number of chains is 48 for a protein complex (counting only interaction partners). </li>
	<li>Non-protein molecules and non-standard residues are not taken into account during the calculations.</li>
	<li>MutaBind chooses the first coordinate for the atom if several different coordinates are provided in the PDB file.</li>
</ul>

If a valid PDB code is input, the title of the PDB will be shown.

<p>[Image here]</p>
<img />

<h3 class="subheader">Step 2 - Define two partners for a protein-protein interaction</h3>

<p>A user can define interaction partners by dragging and dropping (or clicking on triangles in left or right corner) any chain thumbnail into the box of first (Partner 1) or second partners (Partner 2). </p>

<ul style="margin-left: 3rem">
	<li>MutaBind provides a 3D view of the complex colored by chains or partners. Each chain is listed with the corresponding name of the protein.</li>
	<li>One can assign one chain or multiple chains to either Partner 1 or Partner 2, but both partners should include at least one chain; only the selected chains will be taken into account during the calculation.</li>
	<li>For bioassemblies if any protein/chain in the structure were generated by applying symmetry operations, they are depicted with the labels of alphanumeric combinations (for example, ‘E_1’) indicating the source molecule/chain from which they were generated. </li>
</ul>

<p>[Image here]</p>
<img />

<h3 class="subheader">Step 3 - Select mutations to make a mutant protein complex</h3>

<p>One can select several mutations (amino acid substitutions) on this page but only one mutation will be made to the complex at each time (the maximum number of single mutations is 16). Please note that when more than one mutations are selected, each of them will be treated independently.</p>
<p>After the users made their selection of chain and position to be mutated, they can visualize the location of the mutated (substituted) residue in the wild-type complex in the 3D viewer.</p>

<p>[Image here]</p>
<img />

<h3 class="subheader">Results</h3>
<p> Upon the completion of the third step and submission of the job, MutaBind provides a job identifier for checking the status of the job. If an e-mail address is provided, the link to the results page will be sent via e-mail. The results will be available on this page as soon as the computations are done and they will remain on the webserver for one week</p>

<p>For each protein/mutation, Mutabind provides the following results:</p>
<ul style="margin-left: 3rem">
	<li> <strong>&Delta;&Delta;G<span class="subindex">bind</span>(kcal mol<span class="supindex">-1</span>) </strong> is the predicted change in the binding affinity induced by the mutation. A positive and negative signs correspond to destabilizing and stabilizing mutations predicted to decrease and increase binding affinity correspondingly.</li>
	<li><strong>Interface (yes/no)</strong>, MutaBind defines a residue located on the protein-protein interface if its solvent accessibility in the complex is lower than in the individual unbound partner.</li>
	<li><strong>Deleterious (yes/no)</strong>, MutaBind defines a mutation as deleterious if its 〖∆∆G〗_bind is higher or equal to 1.58 kcal mol-1. This threshold is defined based [COMPLETE HERE] as tested on the set of experimental values for more than two thousands mutations (see below).</li>
	<li><strong>Confidence (high/low)</strong>, MutaBind defines a deleterious mutation with high confidence if both multiple linear regression and random forest models identify it as deleterious, and low confidence if only one of two models identifies it as deleterious.</li>
	<li><strong>Mutant structure</strong>, MutaBind provides the minimized mutant structure for users to download.</li>
</ul>

<p>Results can be viewed directly on the browser or downloaded as a plain text file.</p>



{% endblock %}