{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block custom_js %}
<script type="text/javascript" src="{% static 'myjs/glmol/js/Three49custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'myjs/glmol/js/GLmol.js' %}" ></script>

<script src="{% static 'myjs/jquery-ui.js' %}"></script>
{# <script src="{% static 'myjs/draganddrop.js' %}"></script> #}
<link rel="stylesheet" type="text/css" href="{% static 'mycss/jquery-ui.css' %}" />
<style>
  .partners { min-height: 7rem; /*border-style: dashed; border-color:#f2f2f2;*/ border-radius:2px ;border-width:2px}
  .partners h5 {font-size : 0.8em}
  #gallery { float: left; min-height: 12em; border-style: dashed; border-color:#ffffff; border-radius:2px ; border-width:2px }
  #gallery.custom-state-active { border-style: dashed; border-color:#888888; border-radius:3px ;border-width:2px}
  .custom-state-active { border-style: dashed; border-color:#999999; border-radius:3px ; border-width:2px}
  .ui-state-highlight { border-style: dashed; border-color:#999999; border-radius:3px ; border-width:2px}
  .gallery {width:100%}
  .gallery li { float: left; width: 66px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.1em; cursor: move; background:#888888 }
  .gallery li a { float: left; }
  .gallery li a.ui-icon-triangle-1-se { float: right; }
  .gallery li img { width: 100%; cursor: move; }
  .partners {margin-bottom: 0.25rem;padding:0.75rem;}
  .data_panel{ border-color:#CCCCCC; background:#FFFFFF;height:340px;}
    /*#partner1 {background:rgba(0, 116, 217, 0.4)}
      #partner2 {background:rgba(57, 204, 204, 0.4)}*/

    #info_status{
        color:#0370DF;
        cursor:pointer;
    }
  </style>
{% endblock %}

{% block main_content %}


<div class="messages row">
{% if error_message %}<div data-alert class="small-12 columns alert-box alert">{{ error_message }}</div>{% endif %}
</div>

{% if messages %}
{% for message in messages %}
<div class="messages row">
    {% if message.tags  == "error" %}
    <div data-alert class="small-12 columns alert-box alert">{{ message }}</div>
    {% endif %}
</div>
{% endfor %}
</ul>
{% endif %}



{% load replace_decrease %}
{% load get_at_index %}
{% load get_at_index_simple %}

<!-- <ul class="breadcrumbs">
  <li><a href="{% url 'sunddg:index' %}">Step 1</a></li>
  <li class="current">Step 2</li>
</ul>
<h4 style="margin-bottom:0;margin-top:1rem">  Select Interaction Partners </h4>
<hr style="margin-top:0;margin-bottom:0.5rem"> -->
<h2> Step 2 - Select Partners of Interaction </h2>

<div class="row" id="pleasewait"> 
    <div class="small-6 columns">
        <p><img src="{% static 'myimgs/ajax-loader.gif' %}" /> Loading PDB structure... </p>
    </div>
</div>

<div class="row"> 
    <div class="small-6 columns" style="padding:0">
            <div class="panel radius data_panel">
                <p style="margin-bottom:0">
                    {% if pdbid %}
                        <b>PDB id</b>: <a target="_blank" href="//www.rcsb.org/pdb/explore/explore.do?structureId={{pdbid}}">{{pdbid|upper}}</a>
                        <!-- Check Interactions at MMDB<a target="_blank" href="//www.ncbi.nlm.nih.gov/Structure/mmdb/mmdbsrv.cgi?uid={{pdbid|safe}}"><i class="fi-page-export small"></i></a> -->
                    {% else %}        
                        <b>PDB file</b>: {{pdb_filename}}
                    {% endif %}
                </p>
                <div class="row" style="margin-top:0.4rem">
                    <div class="small-12 columns">
                        <p class="overflowtext">

                            {% if job_object.firstmodelwarning > 0 %}
                                **Warning**: <span class="has-tip radius" data-tooltip aria-haspopup="true" style="font-weight:normal" title="The uploaded PDB contains more than one MODEL. First model has been used as default">The uploaded PDB contains more than one MODEL. First model has been used as default</span><br>
                            {% endif %}

                            {% for chain in content.chains %}
                                 {% if job_object.firstmodelwarning > 0 %}   {# If there is first model warning, show only 8 chains, 9 otherwise #}
                                    {% if forloop.counter <= 8 %}
                                        Chain {{chain}}
                                        {% if chain_descriptions %}
                                            : <span class="has-tip radius" data-tooltip aria-haspopup="true" style="font-weight:normal" title="{{chain_descriptions|get_at_index_simple:chain}} {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}- Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}">
                                                {{chain_descriptions|get_at_index_simple:chain}}
                                                {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}
                                                    - Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        <br>
                                    {% endif %}
                                {% else %}
                                    {% if forloop.counter <= 9 %}
                                        Chain {{chain}}
                                        {% if chain_descriptions %}
                                            : <span class="has-tip radius" data-tooltip aria-haspopup="true" style="font-weight:normal" title="{{chain_descriptions|get_at_index_simple:chain}} {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}- Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}">
                                                {{chain_descriptions|get_at_index_simple:chain}}
                                                {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}
                                                    - Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        {% if job_object.firstmodelwarning > 0 %}    {# If there is first model warning, show after 8 chains, 9 otherwise #} 
                            {% if content.chains|length > 8 %}
                            <div id="info_data" style="display:none">
                                <p class="overflowtext">
                                    {% for chain in content.chains %}
                                        {% if forloop.counter > 8 %}
                                            Chain {{chain}}
                                            {% if chain_descriptions %} 
                                                    : <span class="has-tip radius" data-tooltip aria-haspopup="true" style="font-weight:normal" title="{{chain_descriptions|get_at_index_simple:chain}} {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}- Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}">
                                                {{chain_descriptions|get_at_index_simple:chain}}
                                                {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}
                                                    - Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}</span>
                                            {% endif %}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if content.chains|length > 9 %}
                            <div id="info_data" style="display:none">
                                <p class="overflowtext">
                                    {% for chain in content.chains %}
                                        {% if forloop.counter > 9 %}
                                            Chain {{chain}}
                                            {% if chain_descriptions %} 
                                                    : <span class="has-tip radius" data-tooltip aria-haspopup="true" style="font-weight:normal" title="{{chain_descriptions|get_at_index_simple:chain}} {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}- Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}">
                                                {{chain_descriptions|get_at_index_simple:chain}}
                                                {% if content.symmetry_chains and content.symmetry_chains|get_at_index_simple:chain %}
                                                    - Identical chain to {{content.symmetry_chains|get_at_index_simple:chain}}
                                                {% endif %}</span>
                                            {% endif %}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if job_object.firstmodelwarning > 0 %}  {# If there is first model warning, show after 8 chains, 9 otherwise #}
                    {% if content.chains|length > 9 %}
                    <div class="row" style="margin-top:0.4rem">
                        <div class="small-12 columns">
                            <!-- <button id="info_status" style="margin-bottom:0;padding-top:0.2rem;padding-bottom:0.2rem;margin-top:0.2rem" class="button round tiny right">Show more</button> -->
                            <span id="info_status" style="font-size:0.8rem">Show More..</span>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    {% if content.chains|length > 8 %}
                    <div class="row" style="margin-top:0.4rem">
                        <div class="small-12 columns">
                            <!-- <button id="info_status" style="margin-bottom:0;padding-top:0.2rem;padding-bottom:0.2rem;margin-top:0.2rem" class="button round tiny right">Show more</button> -->
                            <span id="info_status" style="font-size:0.8rem">Show More..</span>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
    </div>
    <div class="small-6 columns">
        <div class="row">
            <div class="small-12 columns" >
                <!-- <div id="pdb_container_pdbTitle" style="position:absolute; width:386px; color: white; background-color: rgba(0, 0, 0, 0.55); font-size:60%"></div> -->
                <div id="pdb_container" style="width: 100%; height: 340px; background-color: black;"></div>

                <textarea id="pdb_container_src" style="display: none;">
                {% if pdbid %}

                {% else %}
                    {{pdbfile}}
                {% endif %}
                </textarea>
            </div>    
        </div>
        <div class="row">
            <div class="small-12 columns">
<!--                     <input type="radio" name="pdb_container_mouseMode" value="0" checked>Rotate<br>
                <input type="radio" name="pdb_container_mouseMode" value="1">Translate<br>
                <input type="radio" name="pdb_container_mouseMode" value="2">Zoom<br>
                <input type="radio" name="pdb_container_mouseMode" value="3">Slab<br><br> -->
                <button style="margin-top:0.5rem;padding-top:0.2rem;padding-bottom:0.2rem;" class="button round tiny right" id="reset_zoom">Reset Zoom</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <form action="{% url 'sunddg:save_partners' job_object.job %}" method="post">
        <div class="small-12 columns">
            {% csrf_token %}
            <div class="row">
                <div id="partner1" class="partners small-6 columns panel radius">
                    <!-- <div  class="partners"> -->
                        <h4>Partner 1</h4>
                    <!-- </div> -->
                </div>
                <div id="partner2" class=" partners small-6 columns panel radius">
                    <!-- <div  class=""> -->
                        <h4>Partner 2</h4>
                    <!-- </div> -->
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="small-9 columns">
    <br><p style="margin-bottom:0.5rem"><b>Drag and drop</b> chains to select interaction partners.<span data-tooltip data-options="width:300" aria-haspopup="true" class="has-tip tip-top radius" title="<p>For Bioassemblies, if any protein or nucleotide molecules in the structure were generated by applying transformations from crystallographic symmetry, they are depicted with labels that have alphanumeric combinations (for example, 'A_1') indicating the source molecule from which they were generated and the number of the transformation matrix applied (REMARK 350 BIOMT).</p><img src='{% static 'mycss/chain_help_labels2.png' %}' />"><i class="fi-info small"></i></span> 
        {% if job_object.is_example > 0 %}
            <br><span class="subheader">Example: <a id="load_example">Chain E as Partner 1, Chain I as Partner 2</a></span>
        {% endif %}</p>
        <div class="row">
            <div class="small-12 columns">
                <!-- <ul id="gallery" class="gallery small-block-grid-4 medium-block-grid-6 large-block-grid-8"> -->
                <ul id="gallery" class="gallery small-block-grid-8">
                    {% for chain  in content.chain_models %}

                    <li class="ui-widget-content ui-corner-all ">
                        <h5 class="ui-corner-all chain-{{ chain }}">
                                
                                {{ chain|replace_decrease }}
                        </h5>
                        <!--<img src="images/high_tatras_min.jpg" alt="The peaks of High Tatras" width="96" height="72">-->
                        <a title="Add as Partner 1" class="ui-icon ui-icon-triangle-1-sw">P1</a>
                        <a title="Add as Partner 2" class="ui-icon ui-icon-triangle-1-se">P2</a>
                        <input type="hidden" name="chains.{{ forloop.counter }}" value="{{ chain }}.no"/>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <button type="submit" class="button radius right" style="margin-top:0.5rem;margin-bottom:0.5rem" id="submit_partners">Next</button>
    </div>
</form>
</div>


<script>

// For detecting GLmol support
var c = function() {
    if (window.WebGLRenderingContext) {
        for (var a = document.createElement("canvas"), d = ["webgl", "experimental-webgl", "moz-webgl", "webkit-3d"], b = !1, c = 0; 4 > c; c += 1) try {
            if ((b = a.getContext(d[c])) && "function" == typeof b.getParameter) return 1
        } catch (p) {}
        return -1
    }
    return 0
};



/*$.fn.overflown=function(){var e=this[0];return e.scrollHeight>e.clientHeight||e.scrollWidth>e.clientWidth;}
*/
var unit = "{{unit}}";
var chain_data = {{content|safe}};


// cuenta cuantos modelos de cada cadena hay (al pedo?)
var chains_obj = {};
for (var i in chain_data["chain_models"])
{
    chain = chain_data["chain_models"][i]
    chain2 = chain.replace(/_\d+/, "")
    if (chain2 in chains_obj)
    {
        chains_obj[chain2] = chains_obj[chain2] + 1;
    }
    else
    {
        chains_obj[chain2] = 1;    
    }
}


///////////////////////////////////////////////////////////////////////////////

var all_res_to_zoom = [];

{% if pdbid %}

    try {

    var pdbid = "{{pdbid|safe}}";
    var pdb = new GLmol('pdb_container');

    var colors = [];

    var acum = chain_data["chain_models"].length
    var chain_num = chain_data["chains"].length;

    for (var i = 0; i<acum; i++)
    {
        // colors.push(Math.random())
        colors.push( 1/acum * i)
    }

    pdb.defineRepresentation = function() {
        var drawn_chains = 0;
        var all = this.getChain(this.getAllAtoms(),chain_data["chains"]);
        // var hetatm = this.removeSolvents(this.getHetatms(all));
        // this.colorByAtom(all, {});
        this.colorByChain(all, colors.slice(0,acum));

        var asu = new THREE.Object3D();
        // this.drawBondsAsStick(asu, hetatm, this.cylinderRadius, this.cylinderRadius);
        
        if (unit == "bio")
        {   
            var actual_it = 1;
            //var all_it = 0
            var all_it = this.protein.biomtChainsStart;
            // console.log(all_it)
            // console.log(this.protein.biomtMatrices)
            this.protein.appliedMatrix = new THREE.Matrix4();
            
            console.log("biomtChainsStart")
            console.log(this.protein.biomtChainsStart)
            console.log("biomtRead")
            console.log(this.protein.biomtRead)
            console.log("biomtChainsEnd")
            console.log(this.protein.biomtChainsEnd)
            console.log("biomtMolecules")
            console.log(this.protein.biomtMolecules)

            // for (var i = this.protein.biomtChainsStart; i < this.protein.biomtMatrices.length ; i++)
            for (var i = this.protein.biomtChainsStart+1; i <= this.protein.biomtChainsEnd; i++)
            //for (var i = 0; i < this.protein.biomtMatrices.length ; i++)
            {
                console.log(i)
                mat = this.protein.biomtMatrices[i]
                if ( mat == undefined ) continue;
                if ( mat.isIdentity()) {
                    console.log("identity mat")
                    chain_arr = this.protein.biomtChains[all_it].split(",")
                    console.log(chain_arr)
                    chains2select = []
                    for (var j in chain_arr)
                    {
                        // corroboro que esta chains esté entre las que tenga q mostrar... por las dudas..
                        if ($.inArray(chain_arr[j], chain_data["chains"]) > -1) { chains2select.push(chain_arr[j])}
                    }

                    tempcolors = colors.slice(drawn_chains, (drawn_chains+chains2select.length))
                    var all = this.getChain(this.getAllAtoms(),chains2select);
                    all_res_to_zoom = all_res_to_zoom.concat(all)

                    this.colorByChain(all, tempcolors );

                    this.drawCartoon(asu, all, this.curveWidth, this.thickness);
                    this.modelGroup.add(asu);
                    drawn_chains += chains2select.length;
                    all_it++;
                }
                else {
                    var asu = new THREE.Object3D();
                    console.log(mat)
                    console.log("here")
                    asu.matrixAutoUpdate = false
                    asu.matrix = this.protein.biomtMatrices[i];
                    
                    // select only chains to which this matrix should be applied
                    chain_arr = this.protein.biomtChains[all_it].split(",")
                    console.log(chain_arr)
                    chains2select = []
                    for (var j in chain_arr)
                    {
                        // corroboro que esta chains esté entre las que tenga q mostrar... por las dudas..
                        if ($.inArray(chain_arr[j], chain_data["chains"]) > -1) { chains2select.push(chain_arr[j])}
                    }
                    tempcolors = colors.slice((drawn_chains), (drawn_chains+chains2select.length))
                    var all = this.getChain(this.getAllAtoms(),chains2select);
                    all_res_to_zoom = all_res_to_zoom.concat(all)

                    this.colorByChain(all, tempcolors );

                    this.drawCartoon(asu, all, this.curveWidth, this.thickness);
                    this.modelGroup.add(asu);
                    drawn_chains += chains2select.length;
                    for (var j = 0; j < 16; j++) this.protein.appliedMatrix.elements[j] += mat.elements[j];
                    actual_it++;
                    all_it++;
                }
                //all_it++;
            }
            this.protein.appliedMatrix.multiplyScalar(actual_it);
        }
        else
        {
            all_res_to_zoom = all_res_to_zoom.concat(all)
            this.drawCartoon(asu, all, this.curveWidth, this.thickness);
            this.modelGroup.add(asu);
        }
        
        pdb.zoomInto(all_res_to_zoom);

    };

   /*pdb.rebuildScene();
   pdb.show();*/

   var time = new Date();
    /*$.get("//www.rcsb.org/pdb/files/{{pdbid}}.pdb", function(ret) {
      $("#pdb_container_src").val(ret);
        pdb.loadMolecule();
        console.log("downloaded in " + (+new Date() - time) + "ms");
    });*/

    var content = '{{ pdbasu |escapejs }}'
    $("#pdb_container_src").val(content);
    var biomt_num = '{{ bioassembly |safe}}'
    if (biomt_num == "None"){ biomt_num = undefined; }
    pdb.loadMolecule(undefined, biomt_num);
    console.log("downloaded in " + (+new Date() - time) + "ms");
    
    $("#pleasewait").empty()
    $("#pleasewait").remove()
   

   // Pinta las chains segund el GLmol


    for (var i=0; i<chain_data["chain_models"].length; i++)
    {
        chainname = chain_data["chain_models"][i]
        var color = new TCo(0);
        color.setHSV( colors[i], 1, 0.9);
        decimalColor = color.getHex().toString(16);
        hexColor = ('000000' + color.getHex().toString( 16 )).slice(-6)
        $(".chain-"+chainname).css("background", "#"+hexColor)
    }

    var actual_it = 1;
    for (var i = 0; i < pdb.protein.biomtMatrices.length ; i++)
    {   
        mat = pdb.protein.biomtMatrices[i]
        if ( mat == undefined || mat.isIdentity()) continue;
        temp = colors.slice((chain_num*actual_it), (chain_num*(actual_it)+chain_num))
        actual_it++
    }

    }
    catch(err)
    {
        var m = c();
        if (1 > m) {
            var q = ""
            q = m ? 'This page requires <a href="//get.webgl.org/">WebGL</a> in order to interactively view 3D structures. However, the WebGL function in your browser is not enabled. To see the interactive view of the structure, modify the settings in your web browser to enable WebGL.' : 'This page requires <a href="//get.webgl.org/">WebGL</a> in order to interactively view 3D structures. However, your browser does not support WebGL. To see the interactive view of the structure, upgrade your web browser to a newer version.'
        }


        $("#pleasewait").empty()
        errmsg = '<div class="small-12 columns alert-box alert radius">PDB structure viewer could not be loaded. '+q+'</div>'
        $("#pleasewait").html(errmsg)
    }

{% endif %}


///////////////////////////////////////////////////////////////////////////////

$(document).ready(function(){


// ========================== Drag and Drop code =============================
      // there's the gallery and the trash
    var $gallery = $( "#gallery" );
     // $trash = $( "#trash" );
    var $partner1 = $("#partner1");
    var $partner2 = $("#partner2");


    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });


    $partner1.droppable({
      accept: "#gallery > li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        setPartner1( ui.draggable );
      }
    });

    $partner2.droppable({
      accept: "#gallery > li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        setPartner2( ui.draggable );
      }
    });

    // let the gallery be droppable as well, accepting items from the trash
    $gallery.droppable({
      accept: ".partner > li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        resetChain( ui.draggable );
      }
    });

    var reset_chain_icon = "<a title='Reset this chain' class='ui-icon ui-icon-refresh'>Reset</a>";
    function setPartner1( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $partner1 ).length ?
          $( "ul", $partner1 ) :
          $( "<ul class='partner gallery ui-helper-reset radius'/>" ).appendTo( $partner1 );

        $item.find( "a.ui-icon-triangle-1-sw" ).remove();
        $item.find( "a.ui-icon-triangle-1-se" ).remove();
        var aux = $item.find( "input" ).val();
        $item.find( "input" ).val(aux.replace(".no", ".P1"));
        $item.append( reset_chain_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "48px" });
        });
      });
    }

    var reset_chain_icon = "<a title='Reset this chain' class='ui-icon ui-icon-refresh'>Reset</a>";
    function setPartner2( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $partner2 ).length ?
          $( "ul", $partner2 ) :
          $( "<ul class='partner gallery ui-helper-reset radius'/>" ).appendTo( $partner2 );

        $item.find( "a.ui-icon-triangle-1-sw" ).remove();
        $item.find( "a.ui-icon-triangle-1-se" ).remove();
        var aux = $item.find( "input" ).val();
        $item.find( "input" ).val(aux.replace(".no", ".P2"));
        $item.append( reset_chain_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "48px" });
        });
      });
    }

    var addP1 = '<a title="Add as Partner 1" class="ui-icon ui-icon-triangle-1-sw">P1</a>';
    var addP2 = '<a title="Add as Partner 2" class="ui-icon ui-icon-triangle-1-se">P2</a>';
    function resetChain( $item ) {
      $item.fadeOut(function() {
        $item.find( "a.ui-icon-refresh" ).remove();
        var aux = $item.find( "input" ).val();
        $item.find( "input" ).val(aux.replace(/\.P\d/, ".no"));
        $item.css( "width", "66px");
        $item.append(addP1);
        $item.append(addP2);
        $item.appendTo( $gallery ).fadeIn();
      });
    }

    // resolve the icons behavior with event delegation
    $( "ul.gallery > li" ).click(function( event ) {
      var $item = $( this ),
        $target = $( event.target );

      if( $target.is( "a.ui-icon-triangle-1-sw")) {
        setPartner1( $item );
      } else if ( $target.is( "a.ui-icon-triangle-1-se")) {
        setPartner2( $item );
      } else if ($target.is( "a.ui-icon-refresh" ) ) {
        resetChain( $item);
      }

      return false;
    });

// ===============================================================================

{% if job_object.is_example > 0 %}
    $("#load_example").on('click', function(event){
        event.preventDefault();
        var items = $("li")
        setPartner1($(items[0]))
        setPartner2($(items[1]))
        return false;
    })
{% endif %}

{% if pdb_filename %}
    
    try {

    var colors = [];

    var acum = chain_data["chain_models"].length
    console.log(acum)
    var chain_num = chain_data["chains"].length;

    // used for multiple MODELs
    //var chains_renamed = {{ chains_renamed |safe}}

    for (var i = 0; i<acum; i++)
    {
        console.log(1/acum * i)
        colors.push( 1/acum * i)
    }

    var pdb = new GLmol('pdb_container');

    pdb.defineRepresentation = function() {
        var all = this.getChain(this.getAllAtoms(),chain_data["chains"]);
        // used for multple MODELs
        //var all = this.getChain(this.getAllAtoms(),chains_renamed);
        all_res_to_zoom = all_res_to_zoom.concat(all)
        this.colorByChain(all, colors.slice(0,acum));

        var asu = new THREE.Object3D();
        // this.drawBondsAsStick(asu, hetatm, this.cylinderRadius, this.cylinderRadius);
        this.drawCartoon(asu, all, this.curveWidth, this.thickness);
        this.modelGroup.add(asu);
    };

    // for testing!!
    pdb.rebuildScene();
    pdb.zoomInto(all_res_to_zoom);
    pdb.show();

    $("#pleasewait").empty()
    $("#pleasewait").remove()

    for (var i=0; i<chain_data["chain_models"].length; i++)
    {
        chainname = chain_data["chain_models"][i]
        var color = new TCo(0);
        color.setHSV( colors[i], 1, 0.9);
        decimalColor = color.getHex().toString(16);
        hexColor = ('000000' + color.getHex().toString( 16 )).slice(-6)
        $(".chain-"+chainname).css("background", "#"+hexColor)
    }

    }
    catch(err)
    {
        var m = c();
        if (1 > m) 
        {
            var q = ""
            q = m ? 'This page requires <a href="//get.webgl.org/">WebGL</a> in order to interactively view 3D structures. However, the WebGL function in your browser is not enabled. To see the interactive view of the structure, modify the settings in your web browser to enable WebGL.' : 'This page requires <a href="//get.webgl.org/">WebGL</a> in order to interactively view 3D structures. However, your browser does not support WebGL. To see the interactive view of the structure, upgrade your web browser to a newer version.'
        }

        $("#pleasewait").empty()
        errmsg = '<div class="small-12 columns alert-box alert radius">PDB structure viewer could not be loaded. '+q+'</div>'
        $("#pleasewait").html(errmsg)
    }

{% endif %}

$(document).foundation();

$("#reset_zoom").on('click', function(){
    pdb.doFunc(function(mol) {
        // console.log(all_res_to_zoom)
        pdb.zoomInto(all_res_to_zoom);
        mol.show()});
    return false;
});


/*$("#info_status").on('click', function(){
    if ($("#info_status").html() == "Show more")
    {
        $(".data_panel").css("height", "auto")
        $("#info_data").css("display", "block")
        $("#info_status").html("Show less")    
    }
    else
    {
        if ($("#info_status").html() == "Show less")
        {
            $("#info_data").css("display", "none")
            $("#info_status").html("Show more")
            $(".data_panel").css("height", "340px")    
        }
    } 
})*/

var info_status = true;

$("#info_status").on('click', function(){
    if (info_status)
    {
        $(".data_panel").css("height", "auto")
        $("#info_data").css("display", "block")
        $("#info_status").html("Show less..")
        info_status = false;
    }
    else
    {
        $("#info_data").css("display", "none")
        $("#info_status").html("Show more..")
        $(".data_panel").css("height", "340px")  
        info_status = true;  
    } 
})





});   // fin ready document




</script>

{% endblock %}

