{% extends "sunddg/base.html" %}

{% load staticfiles%}

{% block main_content %}

<div class="row">
    <div class="small-12 columns">
        <p style="line-height:1.5"><font size="5" color="black"><strong>Please cite the Mutabind as:</strong></font><font size="4" color="black"><br>Li M, Simonetti FL, Goncearenco A & Panchenko AR. <i> MutaBind estimates and interprets the effects of sequence variants on protein-protein interactions.</i><strong> Nucleic Acids Res. (2016 Web Server Issue). PMID:</strong></font><a href="//www.ncbi.nlm.nih.gov/pubmed/?term=MutaBind+estimates+and+interprets+the+effects+of+sequence+variants+on+protein%E2%80%93protein+interactions"><font size="4""> 27150810</font></a></p>
    </div>
</div>

{% endblock %}

